.about {
  ul {
    padding-left: 0.5rem;
    list-style-position: inside;
  }

  & > * {
    padding-bottom: 1rem;
  }

  footer {
    margin-top: 48px;
    color: rgb(172, 172, 172);

    & a {
      text-decoration: none;
    }
  }
}
