.about {
  ul {
    list-style: initial;
    margin: 1rem 0;
    padding-left: 40px;
  }

  & > * {
    padding-bottom: 1rem;
  }

  footer {
    color: rgb(172, 172, 172);

    & a {
      text-decoration: none;
    }
  }
}
