.header {
  position: fixed;
  width: 100%;
  margin: 0 auto;
}

.navbar {
  padding: 1rem;

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
  }

  a {
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    padding: 0 1rem;
    color: rgb(16, 93, 238);

    &:hover {
      color: rgb(113, 160, 248);
    }
  }

  .active {
    font-weight: bold;
  }
}
