a {
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  padding: 15px;
  color: rgb(16, 93, 238);
  &:hover {
    color: rgb(113, 160, 248);
  }
}

li {
  display: inline;
}

ul {
  padding: 0;
}

.active {
  font-weight: bold;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
