p {
  color: rgb(172, 172, 172);
}

img {
  border-radius: 8px;
}

.button {
  width: 80px;
  height: 32px;
  border: none;
  color: white;
  background-color: rgb(50, 121, 253);
  border-radius: 6px;
  &:hover {
    cursor: pointer;
    background-color: rgb(113, 160, 248);
  }
}

.img-container {
  width: 128px;
  height: 128px;
  margin: 48px auto 36px auto;
}

.person-container {
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
}
