<div class="person-container">
  <div class="img-container">
    <img
      (mouseover)="pauseTimer()"
      (mouseleave)="startTimer()"
      src="{{ personData.picture.large }}"
      alt="Picture is loading..."
    />
  </div>
  <p>Hi, My name is</p>
  <h2 (mouseover)="pauseTimer()" (mouseleave)="startTimer()">
    {{ personData.name.first }} {{ personData.name.last }}
  </h2>
  <button
    (mouseover)="pauseTimer()"
    (mouseleave)="startTimer()"
    (click)="getRandomPerson()"
    class="button"
  >
    New
  </button>
</div>
